[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BwQuant"]
	path = BwQuant
	url = https://github.com/cran/BwQuant
	shallow = true
	registered = true
